<div class="row g-3 align-items-start mb-3" data-file-upload-item>
    <div class="col-md-4">
        {{ form_row(file_form.type, {
            attr: {
                'data-file-upload-target': 'type',
                'data-action': 'change->file-upload#update',
            }
        }) }}
    </div>
    <div class="col-md-4">
        <div data-file-upload-target="domainRow">
            {{ form_row(file_form.domain) }}
        </div>
        <div data-file-upload-target="projectRow">
            {{ form_row(file_form.project) }}
        </div>
    </div>
    <div class="col-md-4">
        {{ form_row(file_form.file) }}
    </div>
</div>
