{% extends '@symfonicat/base.html.twig' %}
{% block title %}Electron{% endblock %}
{% block body %}

    <div class="d-flex justify-content-end mb-1">
        <a href="{{ path('symfonicat_electron_create') }}" class="btn btn-sm btn-success">create electron</a>
    </div>

    <table class="table table-sm align-middle">
        <thead>
            <tr>
                <th>name</th>
                <th>type</th>
                <th>domain</th>
                <th>project</th>
                <th>application</th>
                {% for env_parent in env_parents %}
                    <th>{{ env_parent.id }}</th>
                {% endfor %}
                <th class="text-end">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for electron in electrons %}
            {{ include('@symfonicat/electron/_row.html.twig') }}
        {% else %}
            <tr>
                <td colspan="{{ 6 + env_parents|length }}">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
