.git
.gitignore
.phpunit.cache
vendor/*
!vendor/*/
vendor/*/*
!vendor/*/*/
vendor/*/*/*
!vendor/*/*/extensions/
!vendor/*/*/extensions/**
node_modules/
var/
application/*
!application/.gitkeep
!application/.gitignore
