<tr id="env_parent_{{ env_parent.id }}" class="btn-row">
    <td class="fw-semibold">{{ env_parent.id }}</td>
    <td class="text-end btn-cell">
        <div class="btn-group btn-group-sm">
            {{ include('@symfonicat/env_parent/_delete_form.html.twig') }}
        </div>
    </td>
</tr>
