{% extends 'admin/base.html.twig' %}
{% block title %}Edit Application{% endblock %}
{% block body %}
    <h6>{{ application.id }}</h6>

    {{ include('admin/application/_form.html.twig', { form: form, button_label: 'save' }) }}
{% endblock %}
