{% extends 'admin/base.html.twig' %}
{% block title %}Routing Rules{% endblock %}
{% block body %}

    <div class="d-flex justify-content-end mb-3">
        <a href="{{ path('symfonicat_routing_rule_create') }}" class="btn btn-sm btn-success">create routing rule</a>
    </div>

    <div class="table-responsive">
    <table class="table table-sm table-striped align-middle" id="routing-rules">
        <thead>
            <tr>
                <th>type</th>
                <th>arguments</th>
                <th>domain</th>
                <th>project</th>
                <th>application</th>
                <th>app mode</th>
                <th>route</th>
                <th>route type</th>
                <th>redir type</th>
                <th>redir target</th>
                <th>redir domain</th>
                <th>redir project</th>
                <th class="text-end">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for rule in rules %}
            {{ include('admin/routing_rule/_row.html.twig') }}
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
