<div class="card card-body bg-body-tertiary" data-middleware-collection-item>
    <div class="row g-2 align-items-start">
        <div class="col-md-10">
            {{ form_row(item_form) }}
        </div>
        <div class="col-md-2 d-grid">
            <button type="button" class="btn btn-sm btn-outline-danger" data-action="middleware-collection#remove">remove</button>
        </div>
    </div>
</div>
