<form method="post" action="{{ path('symfonicat_middleware_delete', { id: middleware.id }) }}" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ middleware.id) }}">
    <button class="btn btn-sm btn-danger" type="submit"><i class="fa fa-times">&nbsp;</i></button>
</form>
