{% extends '@symfonicat/base.html.twig' %}
{% block title %}Middleware{% endblock %}
{% block body %}

    <div class="d-flex justify-content-end mb-1">
        <a href="{{ path('symfonicat_admin_schema_update') }}" class="btn btn-sm btn-success">update schema</a>
    </div>

    <table class="table table-sm align-middle">
        <thead>
            <tr>
                <th>class</th>
                <th class="text-end">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for middleware in middlewares %}
            {{ include('@symfonicat/middleware/_row.html.twig') }}
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
