{% extends 'admin/base.html.twig' %}
{% block title %}Module{% endblock %}
{% block body %}

    <h6>

        {{ module.name }}

        &nbsp;

        <div class="btn-group btn-group-sm">
            
            <a href="{{ path('app_module_edit', {'slug': module.slug}) }}" class="btn btn-sm btn-warning">
                <i class="fa fa-pencil">&nbsp;</i>
            </a>
            {{ include('module/_delete_form.html.twig') }}

        </div>

    </h6>

    <hr />



{% endblock %}
