<form method="post" action="{{ path('symfonicat_application_delete', {id: application.id}) }}" onsubmit="return confirm('Are you sure?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="fa fa-times">&nbsp;</i>
    </button>
</form>
