<div class="card card-body bg-body-tertiary" data-env-collection-item>
    <div class="row g-2 align-items-start">
        <div class="col-md-3">
            {{ form_row(item_form.envParent) }}
        </div>
        <div class="col-md-3">
            {{ form_row(item_form.env) }}
        </div>
        <div class="col-md-4">
            {{ form_row(item_form.value) }}
        </div>
        <div class="col-md-2 d-grid">
            <button type="button" class="btn btn-sm btn-outline-danger" data-action="env-collection#remove">remove</button>
        </div>
    </div>
</div>
