{% extends 'admin/base.html.twig' %}
{% block title %}New Env{% endblock %}
{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-sm btn-success">create</button>

    {{ form_end(form) }}

{% endblock %}
