{% extends '@symfonicat/base.html.twig' %}
{% block title %}Edit Project{% endblock %}
{% block body %}

    <h3>{{ project.id }}</h3>
    <hr />

    {{ include('@symfonicat/project/_form.html.twig', { form: form, button_label: 'save' }) }}
{% endblock %}
