{% extends '@symfonicat/base.html.twig' %}
{% block title %}Edit Subdomain{% endblock %}
{% block body %}

    <h3>{{ subdomain.affix }}</h3>
    <hr />

    {{ include('@symfonicat/subdomain/_form.html.twig', { form: form, button_label: 'save' }) }}
{% endblock %}
