{% extends 'admin/base.html.twig' %}
{% block title %}Domains{% endblock %}
{% block body %}

    <table class="table" id="domains">
        <thead>
            <tr>
                <th>domain</th>
                <th>projects</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="domains-body">
        {% for domain in domains %}
            {{ include('admin/domain/_row.html.twig') }}
        {% else %}
            <tr id="domains-empty">
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_domain_create') }}" class="btn btn-sm btn-success">create</a>

{% endblock %}
